.canvas-shape-circle {
    border-radius: 9999px;
}
.canvas-shape-rounded {
    border-radius: 0.75rem; /* Corresponds to rounded-lg */
}


.sticker-button {
    position: relative;
    transition: clip-path 0.3s ease-out;
}

.sticker-button::after {
    content: "";
    position: absolute;
    height: 150%;
    width: 150%;
    border-radius: 9999px;
    background-color: hsla(0, 0%, 100%, 0.2);
    border: 1px solid hsla(0, 0%, 100%, 0.5);
    transition: transform 0.3s ease-out;
}

.sticker-button[data-shape="contour"]::after {
    --angle: -30deg;
    --translate-x: 60%;
    right: -1px;
    top: -1px;
    transform: rotate(var(--angle)) translateX(var(--translate-x));
}

.sticker-button[data-shape="contour"] {
    clip-path: polygon(0 0, calc(100% - 1.2rem) 0, 100% 100%, 0 100%);
}

.sticker-button[data-shape="contour"]:hover, .sticker-button[data-shape="contour"][data-state="active"] {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), 0 100%);
}

.sticker-button[data-shape="contour"]:hover::after, .sticker-button[data-shape="contour"][data-state="active"]::after {
    --translate-x: 100%;
}

.sticker-button[data-shape="rounded"]::after {
    --angle: 30deg;
    --translate-x: -60%;
    left: -1px;
    bottom: -1px;
    transform: rotate(var(--angle)) translateX(var(--translate-x));
}
.sticker-button[data-shape="rounded"] {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1.2rem 100%, 0% calc(100% - 1.2rem));
}
.sticker-button[data-shape="rounded"]:hover, .sticker-button[data-shape="rounded"][data-state="active"] {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sticker-button[data-shape="rounded"]:hover::after, .sticker-button[data-shape="rounded"][data-state="active"]::after {
    --translate-x: -100%;
}

.sticker-button[data-shape="square"]::after {
    --angle: 120deg;
    --translate-x: -60%;
    left: -1px;
    top: -1px;
    transform: rotate(var(--angle)) translateX(var(--translate-x));
}
.sticker-button[data-shape="square"] {
    clip-path: polygon(1.2rem 0, 100% 0, 100% 100%, 0 100%, 0 1.2rem);
}
.sticker-button[data-shape="square"]:hover, .sticker-button[data-shape="square"][data-state="active"] {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sticker-button[data-shape="square"]:hover::after, .sticker-button[data-shape="square"][data-state="active"]::after {
    --translate-x: -100%;
}


.sticker-button[data-shape="circle"]::after {
    --angle: -120deg;
    --translate-x: 60%;
    right: -1px;
    bottom: -1px;
    transform: rotate(var(--angle)) translateX(var(--translate-x));
}

.sticker-button[data-shape="circle"] {
     clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%);
}
.sticker-button[data-shape="circle"]:hover, .sticker-button[data-shape="circle"][data-state="active"] {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sticker-button[data-shape="circle"]:hover::after, .sticker-button[data-shape="circle"][data-state="active"]::after {
    --translate-x: 100%;
}
